body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    position: absolute;
    left: 0px;

}
h1,h2{
    color:yellowgreen;
}
h1{
    text-align: center;
}
h2{
    border-bottom: solid 1px gainsboro;
}
span,h3{
    color: sandybrown;
}
main{
    border: 1px solid gainsboro
}